body{
    background-color: rgb(255, 255, 255);
}

fieldset, legend{
    background-color: rgb(231, 231, 231);
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

fieldset{
    width: 400px;
}

legend{
    text-transform: uppercase;
    font-weight: bold;
}

section{
    display: flex;
    justify-content: center;
}

div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.bouton{
    font-size: 18px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 200px;
    font-weight: bold;
}

/* input, textarea, select{
    width: 200px;
} */

/* :required{
    background-color: rgb(255, 0, 0);
} */